.footer {
  background: $clr-black;
  &-container {
    display: flex;
    justify-content: space-between;
    padding: 20px 32px;
  }
  &-left {
    h2 {
      font-size: 20px;
      font-weight: 500;
      line-height: 1.5;
      padding-bottom: 10px;
      span {
        color: red;
      }
    }
  }
  &-center {
    padding: 5px;
    p {
      font-size: 17px;
      font-weight: 500;
      letter-spacing: 1px;
      line-height: 1.5;
    }
  }
  &-right {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 30px;
    i {
      font-size: 17px;
      cursor: pointer;
      transition: $transitionAll;
      &:hover {
        color: $clr-primary;
      }
    }
  }
}
