.section-margin {
  margin: 70px 32px;
}
.section-padding {
  padding: 80px 32px;
}
body {
  background: $clr-background;
  color: $clr-text-main;
  font-family: $ff-primary;
  font-size: 17px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.7px;
  scroll-behavior: smooth;
}

.btn {
  position: relative;
  display: inline-block;
  border: none;
  outline: none;
  font-size: inherit;
  line-height: inherit;
  border-radius: 5px;
  cursor: pointer;
  &-primary {
    background: linear-gradient($clr-background, $clr-background) padding-box,
      linear-gradient(to left, #743ad5, #d53a9d) border-box;
    color: $clr-text-main;
    border: 2px solid transparent;
    border-radius: 10px;
    padding: 7px 20px;
    transition: $transitionAll;
    font-weight: 500;
    &:hover {
      color: $clr-primary;
      background: #fff;
      border: 2px solid;
    }
  }
}

.text-gradient {
  font-size: 17px;
  background: -webkit-linear-gradient(#743ad5, #d53a9d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
