.intro {
  padding-bottom: 80px;
  &-container {
    display: flex;
    align-items: center;
    gap: 60px;
  }
  &-display {
    flex: 1;
  }
  &-video {
    width: 100%;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  }
  &-content {
    flex: 0.8;
  }
  &-title {
    color: $clr-primary;
    font-size: 25px;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
    padding-bottom: 15px;
  }
  &-btn {
    color: #333;
    background: #ccc;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 16px;
    width: 100%;
    text-align: left;
    border-radius: 4px;
    outline: none;
    border: none;
    line-height: 1.5;
    margin-bottom: 16px;
    transition: all 0.2s ease-in;
    cursor: pointer;
    &:hover {
      background: $clr-primary;
      color: $clr-text-main;
    }
  }
  &-desc {
    display: none;
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 1px;
    padding: 16px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    margin-bottom: 10px;
    border-radius: 4px;
  }
}
